-c requirements.txt
autoapi
black
colorama
coverage[toml]
darglint
flake8
flake8-annotations
flake8-bandit
flake8-black
flake8-bugbear
flake8-docstrings
flake8-import-order
mypy
nox
pip-tools
pygit2
pygments
pytest
pytest-cov
pytest-mock
requests
sphinx
sphinx-rtd-theme
sphinx-autoapi
types-PyYAML
types-requests
xdoctest