# IMPORTANT: make sure these requirements exactly match the ones in setup.cfg under install_requires
easygui>=0,<1
keyring>=21,<24
pandas>=1,<1.3; python_version < "3.7"
pandas>=1,<2
numpy>=1,<2
requests>=2,<3
pyaml>=20,<22