certifi==2021.10.8
    # via requests
charset-normalizer==2.0.7
    # via requests
easygui==0.98.2
    # via -r requirements\py39\requirements.in
idna==3.3
    # via requests
importlib-metadata==4.8.1
    # via keyring
keyring==23.2.1
    # via -r requirements\py39\requirements.in
numpy==1.21.3
    # via
    #   -r requirements\py39\requirements.in
    #   pandas
pandas==1.3.4
    # via -r requirements\py39\requirements.in
pyaml==21.10.1
    # via -r requirements\py39\requirements.in
python-dateutil==2.8.2
    # via pandas
pytz==2021.3
    # via pandas
pywin32-ctypes==0.2.0
    # via keyring
pyyaml==6.0
    # via pyaml
requests==2.26.0
    # via -r requirements\py39\requirements.in
six==1.16.0
    # via python-dateutil
urllib3==1.26.7
    # via requests
zipp==3.6.0
    # via importlib-metadata
