certifi==2026.5.20 ; python_version >= "3.12" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.7 ; python_version >= "3.12" and python_version < "4.0"
cryptography==48.0.0 ; python_version >= "3.12" and python_version < "4.0"
decorator==5.3.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform != "win32"
gssapi==1.11.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform != "win32"
idna==3.17 ; python_version >= "3.12" and python_version < "4.0"
krb5==0.9.0 ; python_version >= "3.12" and python_version < "4.0" and sys_platform != "win32"
numpy==2.4.6 ; python_version >= "3.12" and python_version < "4.0"
pandas==2.3.3 ; python_version >= "3.12" and python_version < "4.0"
pip-system-certs==5.3 ; python_version >= "3.12" and python_version < "4.0"
pip==26.1.2 ; python_version >= "3.12" and python_version < "4.0"
pyaml==26.2.1 ; python_version >= "3.12" and python_version < "4.0"
pycparser==3.0 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pyspnego==0.12.1 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0"
pytz==2026.2 ; python_version >= "3.12" and python_version < "4.0"
pyyaml==6.0.3 ; python_version >= "3.12" and python_version < "4.0"
requests-kerberos==0.15.0 ; python_version >= "3.12" and python_version < "4.0"
requests==2.34.2 ; python_version >= "3.12" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
sspilib==0.5.0 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
tzdata==2026.2 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.7.0 ; python_version >= "3.12" and python_version < "4.0"
